.font-dropdown {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.fontDropdownContainer {
  width: auto !important;
  position: absolute;
}

div.fontDropdownContainer > div.tui-popup-body {
  padding: unset;
}

li.font-dropdown-option {
  padding: 2.5px 17px;
  list-style: none;
}

li.font-dropdown-option:hover {
  background-color: #eee;
}

.tui-font-size {
  width: 40px;
  margin: 5px 3px;
  line-height: 12px;
  font-size: 11px;
  min-height: 14px;
}
